<section class="block block-footer-2">
  <div class="container">
    <div class="columns" style="display: flex; justify-content: space-around;">
      <div style="margin: 2rem;">
        <img src="{{ site.logo }}" width="24" height="auto" alt="Logo">
      </div>
      <div class="column">
        {{ site.footer_2_nl }}
      </div>
      <div style="flex-grow: 1; margin: 2rem;">
          {{ site.footer_3_nl }}
      </div>
      <div class="column">
          {{ site.footer_4_nl }}
      </div>
    </div>
  </div>
</section>