<section class="block block-text-1">
  <div class="container">
    <div class="columns">
      <div class="column text">
        <h2><span class="light">{{ section.headline }}</span></h2>
        <table style="width: 100%">
          <thead>
            <tr>
              {% for header in section.headers %}
              <th>{{ header }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
          {% for rows in section.rows %}
          <tr>
            {% for content in rows %}
            <td>{{ content }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
          </tbody>
        </table>

        <p><span class="light"><i>{{ section.notes }}</i></span></p>
      </div>
    </div>
  </div>
</section>